* {   /* 전체 선택자* 맨 위와 맨 왼쪽에 여백을 지워서 디자인적으로 깔끔하게 함(대부분의 사이트에서 사용중) */
    margin: 0;
    padding: 0;
}

h1 {
    color: skyblue;
    font-size: 50px;
}

#welcome {
    color: aquamarine;
    font-size: 80px;
}