<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<form th:action="@{/user/login}" method="post">	
			<!-- 로그인 실패 에러 표시 -->
			<div th:if="${param.error}"><!-- 에러파라미터 존재여부 체크 -->
				<div class="alert alert-danger">
					사용자 ID 또는 비밀번호가 잘못 되었습니다. 다시 입력해 주십시오
				</div>
			</div>
			<div class="mb-3">
				<label for="username" class="form-label">사용자ID</label>
				<input type="text" name="username" id="username" class="form-control">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">사용자ID</label>
				<input type="password" name="password" id="password" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">로그인</button>
		</form>
	</div>
</html>