<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th>번호</th>
					<th style="width:50%">제목</th>	
					<th>작성자</th>	
					<th>작성일시</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:each="question, loop : ${paging}">
					<td th:text="${loop.count}"></td>
					<td class="text-start">	<!-- 제목줄 -->
						<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
					</td>
					<td>
						<span th:text="${question.author != null ? question.author.username : '익명의 사용자'}"></span>
					</td>
					<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
	</div>
</html>